.img-preview img{
    width: 400px;
    height: 300px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.action-icon{
    display:flex!important;
    justify-content:center
}
.action-icon a {
    width: 35px;
    height: 35px;
    margin: 3px !important;
    line-height: 12px;
    background-color: #dede;
    padding: 10px;
    border-radius: 5px;
}
.child{
    text-align:center!important;
}
